<table>
    <h1>lookup fish data add form.</h1>
    <h2>Existing data.</h2>
    <thead>
        <tr>
            <th>Local Name</th>
            <th>Common name</th>
            <th>ID</th>
        </tr>
    </thead>
    <tbody>
        {% csrf_token %} {% for item in trial %}
        <tr class="datarow">
            <td>{{item.Name_Local}}</td>
            <td>{{item.Name_Common}}</td>
            <td>{{item.ID}}</td>

        </tr>
        {% endfor %}
    </tbody>
</table>




<body style="background-color: aquamarine">

    <table>
        <h3>Addition form.</h3>
        {% csrf_token %}
        <tr>
            <form action="" method="post">
                {% csrf_token %}
                <td>{{form.Name_Local}}</td>
                <td>{{form.Name_Common}}</td>
                <td>{{form.ID}}</td>
                <td> <input class="table_button" type="submit" value="Add inventory" /></td>
                <td> <input class="table_button" type="reset" value="Reset" /></td>
            </form>
            </td>
        </tr>
        <thead>
            <tr>
                <td>
                    <p>Local Name</p>
                </td>
                <td>
                    <p>Common Name </p>
                </td>
                <td>
                    <p>ID</p>
                </td>
                <td>
                    <p>Add</p>
                </td>
                <td>
                    <p>Reset</p>
                </td>
            </tr>
        </thead>

    </table>
</body>


<body style="background-color: aquamarine">

    <table>
        <h3>Deletion form.</h3>
        {% csrf_token %}
        <tr>
            <form action="delete" method="post">
                {% csrf_token %}
                <td>{{form.Name_Local}}</td>
                <td>{{form.Name_Common}}</td>
                <td>{{form.ID}}</td>
                <td> <input class="table_button" type="submit" value="Delete" /></td>
                <td> <input class="table_button" type="reset" value="Reset" /></td>
            </form>
            </td>
        </tr>
        <thead>
            <tr>
                <td>
                    <p>Local Name</p>
                </td>
                <td>
                    <p>Common Name </p>
                </td>
                <td>
                    <p>ID</p>
                </td>
                <td>
                    <p>Add</p>
                </td>
                <td>
                    <p>Reset</p>
                </td>
            </tr>
        </thead>

    </table>
