<!-- {{ trial6 }} -->
<table>
    <h1>lookup site data add form.</h1>
    <h3>Existing data.</h3>
    <thead>
        <tr>
            <th>Site name.</th>
            <th>ID</th>
            <th>X co-ordinates</th>
            <th>Y co-ordinates</th>
        </tr>
    </thead>
    <tbody>
        {% csrf_token %} {% for item in trial6 %}
        <tr class="datarow">
            <td>{{item.SiteName}}</td>
            <td>{{item.ID}}</td>
            <td>{{item.GPS_X}}</td>
            <td>{{item.GPS_Y}}</td>

        </tr>
        {% endfor %}</tbody>
</table>
<!-- {{ form }} -->

<body style="background-color: aquamarine">

    <table>
        <h3>Addition form.</h3>
        {% csrf_token %}
        <tr>
            <form action="" method="post">
                {% csrf_token %}
                <td>{{form.SiteName}}</td>
                <td>{{form.ID}}</td>
                <td>{{form.GPS_X}}</td>
                <td>{{form.GPS_Y}}</td>
                <td> <input class="table_button" type="submit" value="Add inventory" /></td>
                <td> <input class="table_button" type="reset" value="Reset" /></td>
            </form>
            </td>
        </tr>
        <thead>
            <tr>
                <td>
                    <p>Site Name</p>
                </td>
                <td>
                    <p>ID </p>
                </td>
                <td>
                    <p>GPS X</p>
                </td>
                <td>
                    <p>GPS Y</p>
                </td>
                <td>
                    <p>Add</p>
                </td>
                <td>
                    <p>Reset</p>
                </td>
            </tr>
        </thead>
        <!-- {% for item in inventory %}
        <tr class="datarow">
            <td>{{item.quantity}}</td>
            <td>{{item.needs_repairs}}</td>
            <td>
                <td>
                    <form action="/remove_items/" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="item_id" value="{{item.id}}" />
                        <input type="submit" value="delete item">
                    </form>
                </td>
            </td>
        </tr>
        {% endfor %} -->
    </table>
</body>
