<!-- {{ trial7 }} -->
<table>
    <h1>Survey information data add form.</h1>
    <h3>Existing data.</h3>
    <thead>
        <tr>
            <th>TransID</th>
            <th>Data colllectors</th>
            <th>site name</th>
            <th>trans number</th>
            <th>survey date</th>
        </tr>
    </thead>
    <tbody>
        {% csrf_token %} {% for item in trial7 %}
        <tr class="datarow">
            <td>{{item.TransID}}</td>
            <td>{{item.Name_Data_Collector}}</td>
            <td>{{item.Site_Name}}</td>
            <td>{{item.Trans_No}}</td>
            <td>{{item.Date_Survey}}</td>

        </tr>
        {% endfor %}
</table>
</tbody>
<!-- {{ form }} -->

<body style="background-color: aquamarine">

    <table>
        <h3>Addition form.</h3>
        {% csrf_token %}
        <tr>
            <form action="" method="post">
                {% csrf_token %}
                <td>{{form.TransID}}</td>
                <td>{{form.Name_Data_Collector}}</td>
                <td>{{form.Site_Name}}</td>
                <td>{{form.Trans_No}}</td>
                <td>{{form.Date_Survey}}</td>
                <td> <input class="table_button" type="submit" value="Add inventory" /></td>
                <td> <input class="table_button" type="reset" value="Reset" /></td>
            </form>
            </td>
        </tr>
        <thead>
            <tr>
                <td>
                    <p>TransID</p>
                </td>
                <td>
                    <p>Data Collector's Name </p>
                </td>
                <td>
                    <p>Site Name</p>
                </td>
                <td>
                    <p>Trans Number</p>
                </td>
                <td>
                    <p>Date Surveyed</p>
                </td>
                <td>
                    <p>Add</p>
                </td>
                <td>
                    <p>Reset</p>
                </td>
            </tr>
        </thead>
        <!-- {% for item in inventory %}
        <tr class="datarow">
            <td>{{item.quantity}}</td>
            <td>{{item.needs_repairs}}</td>
            <td>
                <td>
                    <form action="/remove_items/" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="item_id" value="{{item.id}}" />
                        <input type="submit" value="delete item">
                    </form>
                </td>
            </td>
        </tr>
        {% endfor %} -->
    </table>
</body>
