<!-- {{ trial2 }} -->
<table>
    <h1>lookup Benthic data add form.</h1>
    <h3>Existing data.</h3>
    <thead>
        <tr>
            <th>local name</th>
            <th>Abbreviation.</th>
            <th>common name</th>
            <th>ID</th>
        </tr>
    </thead>
    <tbody>
        {% csrf_token %} {% for item in trial2 %}
        <tr class="datarow">
            <td>{{item.Name_Local}}</td>
            <td>{{item.Abbrv}}</td>
            <td>{{item.Name_Common}}</td>
            <td>{{item.ID}}</td>

        </tr>
        {% endfor %}</tbody>
</table>


<!-- {{ form }} -->

<body style="background-color: aquamarine">

    <table>
        <h3>Addition form.</h3>
        {% csrf_token %}
        <tr>
            <form action="" method="post">
                {% csrf_token %}
                <td>{{form.Name_Local}}</td>
                <td>{{form.Abbrv}}</td>
                <td>{{form.Name_Common}}</td>
                <td>{{form.ID}}</td>
                <td> <input class="table_button" type="submit" value="Add inventory" /></td>
                <td> <input class="table_button" type="reset" value="Reset" /></td>
            </form>
            </td>
        </tr>
        <thead>
            <tr>
                <td>
                    <p>Local Name</p>
                </td>
                <td>
                    <p>Abbreviation </p>
                </td>
                <td>
                    <p>Common Name </p>
                </td>
                <td>
                    <p>ID</p>
                </td>
                <td>
                    <p>Add</p>
                </td>
                <td>
                    <p>Reset</p>
                </td>
            </tr>
        </thead>
        <!-- {% for item in inventory %}
            <tr class="datarow">
                <td>{{item.quantity}}</td>
                <td>{{item.needs_repairs}}</td>
                <td>
                    <td>
                        <form action="/remove_items/" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="item_id" value="{{item.id}}" />
                            <input type="submit" value="delete item">
                        </form>
                    </td>
                </td>
            </tr>
            {% endfor %} -->
    </table>
</body>
