<!-- {{ trial5 }} -->
<table>
    <h1>Invertebrates data add form.</h1>
    <h3>Existing data.</h3>
    <thead>
        <tr>
            <th>Trans ID.</th>
            <th>Invertebrate name</th>
            <th>Numberl</th>
        </tr>
    </thead>
    <tbody>
        {% csrf_token %} {% for item in trial5 %}
        <tr class="datarow">
            <td>{{item.TransID}}</td>
            <td>{{item.Name_Invert}}</td>
            <td>{{item.No_Invert}}</td>

        </tr>
        {% endfor %}</tbody>
</table>
<!-- {{ form }} -->

<body style="background-color: aquamarine">

    <table>
        <h3>Addition form.</h3>
        {% csrf_token %}
        <tr>
            <form action="" method="post">
                {% csrf_token %}
                <td>{{form.TransID}}</td>
                <td>{{form.Name_Invert}}</td>
                <td>{{form.No_Invert}}</td>
                <td> <input class="table_button" type="submit" value="Add inventory" /></td>
                <td> <input class="table_button" type="reset" value="Reset" /></td>
            </form>
            </td>
        </tr>
        <thead>
            <tr>
                <td>
                    <p>TransID</p>
                </td>
                <td>
                    <p>Name Invert</p>
                </td>
                <td>
                    <p>Number Invert</p>
                </td>
                <td>
                    <p>Add</p>
                </td>
                <td>
                    <p>Reset</p>
                </td>
            </tr>
        </thead>
        <!-- {% for item in inventory %}
        <tr class="datarow">
            <td>{{item.quantity}}</td>
            <td>{{item.needs_repairs}}</td>
            <td>
                <td>
                    <form action="/remove_items/" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="item_id" value="{{item.id}}" />
                        <input type="submit" value="delete item">
                    </form>
                </td>
            </td>
        </tr>
        {% endfor %} -->
    </table>
</body>
